//for a particular file we write like this only
//error.log

//for all same type of extension files
*.log

//for ignoring folders or add folders to gitignore
//dir/

//for ignoring only the Outer Dir folder 
/dir/ 